<h1>Tasks List</h1>
<br>
<br>
<br>
<h2>Let's check all your tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <br>
    <li>
      <% if task.completed %>
        <i class="far fa-check-square"><%= link_to "  #{task.title}", task_path(task) %></i>
      <% else %>
        <i class="far fa-square"><%= link_to "  #{task.title}", task_path(task) %></i>
      <% end %>
      <%= link_to <i class="far fa-trash-alt"></i>, task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<p><%= link_to '+ add a task', new_task_path %></p>
