<h1><%= @task.title %></h1>
<br>
<br>
<br>
<div class="detail">
  <p><%= @task.details %></p>
</div>
<p>
  <% if @task.completed %>
    <i class="far fa-check-square">  This task is completed!</i>
  <% else %>
    <i class="far fa-square">  This task is not completed yet</i>
  <% end %>
</p>
<br class="underlined">
<%= link_to '<i class="fa fa-chevron-circle-left"></i> back'.html_safe, tasks_path %> | <%= link_to '<i class="fas fa-edit"></i> edit'.html_safe, edit_task_path(@task) %>
