// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.container {
  text-align: left;
  justify-content: left;
}

.field {
  margin: 10px;
  padding: 10px;
}

.underlined {
  width: 100vh;
  border-bottom: solid 1px;
  border-color: grey;
}
